/.idea/
/__pycache__/
/.venv/
/.vscode/
/db.sqlite3/
/.gitignore/
/config.py/
/templates/
/.gitignore/
/media/
/.pylintrc/
.pylintrc
users/__pycache__/__init__.cpython-311.pyc
users/__pycache__/admin.cpython-311.pyc
users/__pycache__/apps.cpython-311.pyc
users/__pycache__/forms.cpython-311.pyc
users/__pycache__/models.cpython-311.pyc
users/__pycache__/urls.cpython-311.pyc
users/__pycache__/views.cpython-311.pyc
users/migrations/__pycache__/__init__.cpython-311.pyc
users/migrations/__pycache__/0001_initial.cpython-311.pyc
main/__pycache__/__init__.cpython-311.pyc
main/__pycache__/admin.cpython-311.pyc
main/__pycache__/apps.cpython-311.pyc
main/__pycache__/models.cpython-311.pyc
main/__pycache__/urls.cpython-311.pyc
main/__pycache__/views.cpython-311.pyc
main/migrations/__pycache__/__init__.cpython-311.pyc
goods/migrations/__pycache__/__init__.cpython-311.pyc
goods/migrations/__pycache__/0001_initial.cpython-311.pyc
goods/templatetags/__pycache__/__init__.cpython-311.pyc
goods/templatetags/__pycache__/goods_tags.cpython-311.pyc
goods/__pycache__/__init__.cpython-311.pyc
goods/__pycache__/admin.cpython-311.pyc
goods/__pycache__/apps.cpython-311.pyc
goods/__pycache__/models.cpython-311.pyc
goods/__pycache__/urls.cpython-311.pyc
goods/__pycache__/utils.cpython-311.pyc
goods/__pycache__/views.cpython-311.pyc
django_study/__pycache__/__init__.cpython-311.pyc
django_study/__pycache__/settings.cpython-311.pyc
django_study/__pycache__/urls.cpython-311.pyc
django_study/__pycache__/wsgi.cpython-311.pyc
carts/__pycache__/__init__.cpython-311.pyc
carts/__pycache__/admin.cpython-311.pyc
carts/__pycache__/apps.cpython-311.pyc
carts/__pycache__/models.cpython-311.pyc
carts/__pycache__/urls.cpython-311.pyc
carts/__pycache__/views.cpython-311.pyc
carts/migrations/__pycache__/__init__.cpython-311.pyc
carts/migrations/__pycache__/0001_initial.cpython-311.pyc
carts/templatetags/__pycache__/__init__.cpython-311.pyc
carts/templatetags/__pycache__/carts_tags.cpython-311.pyc
carts/__pycache__/utils.cpython-311.pyc
carts/__pycache__/utils.cpython-311.pyc
orders/__pycache__/__init__.cpython-311.pyc
orders/__pycache__/admin.cpython-311.pyc
orders/__pycache__/apps.cpython-311.pyc
orders/__pycache__/models.cpython-311.pyc
orders/__pycache__/urls.cpython-311.pyc
orders/__pycache__/views.cpython-311.pyc
orders/migrations/__pycache__/__init__.cpython-311.pyc
orders/migrations/__pycache__/0001_initial.cpython-311.pyc
users/migrations/__pycache__/0002_user_phone_number.cpython-311.pyc
carts/__pycache__/utils.cpython-311.pyc
orders/__pycache__/forms.cpython-311.pyc
