<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Email</title>
    <style>
        body {
            background-color: #4CAF50; /* Зеленый цвет фона */
            color: white; /* Белый цвет текста для контраста */
            padding: 20px; /* Добавляем отступы для контента */
        }
    </style>
</head>
<body>
    <h1>Hello, {{ content }}!</h1>
    <p>Welcome to our platform. We are excited to have you on board.</p>
</body>
</html>